extends ../layout

block content
  
  h1 Formas Farmacéuticas

  h2 Editar Forma Farmacéutica

  if message
    #notification.alert.alert-success
      | #{message}

  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}
  form(action=`/forma/actualizar/${forma.idForma}?_method=PATCH`, method='POST')
    div(class="mb-3")
      label(for="nombre") Nombre de la Obra Social:
      input(type="text", name="nombre", value=`${forma.nombre}`, class="form-control", required)
    div(class="btn-group")
      button(type="submit", class="btn btn-primary mt-2") Guardar
      a(href='/forma/index', class="btn btn-secondary mt-2") Volver


    