doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    form(action='/profesional/alta', method='POST')
        label(for='nombre') Nombre:
        input(type="text", name="nombre")
        br
        label(for='apellido') Apellido:
        input(type="text", name="apellido")
        br
        label(for='domicilio') Domicilio:
        input(type="text", name="domicilio")
        br
        label(for='dni') DNI:
        input(type="number", name="dni")
        br
        label(for='matricula') Matrícula:
        input(type="number", name="matricula")
        br
        label(for="profesiones") Profesion:
        select(name="idProfesion", value="idProfesion") 
          each pro in profesiones
            option(value=pro.idProfesion) #{pro.nombre}
        br
        label(for="especialidades") Especialidad:
        select(name="idEspecialidad", value="idEspecialidad") 
          each especialidad in especialidades
            option(value=especialidad.idEspecialidad) #{especialidad.nombre}
        button(type='submit') Guardar
