extends ../layout

block content
  h1 INDEX DEL HOME
  if message
    #notification.alert.alert-success
      | #{message}

  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}