extends ../layout 

block content 

  if message
    #notification.alert.alert-success
      | #{message}

  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}
  div.container
    div.row.justify-content-center
      div.col-md-6.col-12
      
        h2 Alta de Usuarios
        form(action='/usuario/alta' method='POST' class="needs-validation")
          div(class="mb-3")
            label(for='nombre' class="form-label") Nombre:
            input(type="text" name="nombre" class="form-control" required)
        
          div(class="mb-3")
            label(for='apellido' class="form-label") Apellido:
            input(type="text" name="apellido" class="form-control" required)
          
          div(class="mb-3")
            label(for='email' class="form-label") Email:
            input(type="text" name="email" class="form-control" required)

          div(class="mb-3")
            label(for='password' class="form-label") Password:
            input(type="password" name="password" class="form-control" required)

          div(class="mb-3")
            label(for="rol" class="form-label") Rol:
            select(name="rol" class="form-select" required)
                option(value="admin") Admin 
                option(value="empleado") Empleado

          div(class="d-grid gap-2")
            button(type="submit" class="btn btn-primary") Guardar
            a(href="/profesional/index" class="btn btn-secondary") Volver